.form-control {
    width: 100%;
}

.form-control input,
.form-control textarea {
    width: 100%;
    margin: 0 auto;
    background: #fcfcfc;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.form-control textarea {
    height: 200px;
    resize: none;
}

.form-control .btn {
    margin: 0;
    width: 200px;
    margin-top: 15px;
    background: #ff5644;
}

.form-control .error {
    color: #ff5644;
    font-weight: 600;
    margin-top: 10px;
}